@model Dinamico.Models.StartPage

@section main {
    <!-- Body area -->
    <div class="row" style="overflow: hidden; position: relative;">
		<div class="col-sm-8">
			<div class="mgleft">
				@{ Html.DroppableZone("AboveContent").Render(); }
				<div class="entry-content">
					@Content.Display.Text
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="mgright">@{ Html.DroppableZone("BesideContent").Render(); }</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			@{ Html.DroppableZone("BelowContent").Render(); }
		</div>
	</div>
}