@model Dinamico.Models.ContentPart

@{ Content.Define(re =>
	   {
		   re.Title = "Bootstrap Row";
		   re.IconUrl = "{IconsUrl}/text_columns.png";
		   re.Text("cols", "Column Classes").Help("sum to 12, e.g. col-sm-6+col-sm-6");
	   });

   var p = Model.GetDetail("cols", "col-xs-12");
   var q = p.Split('+');
}
<div class="row">
	@for (int i = 0; i < q.Length; ++i)
 {
	 <div class="@q[i]">@{ Html.DroppableZone("Column" + (i+1)).Render(); }</div>
 }
</div>