@model Dinamico.Models.ContentPage

@{
	Content.Define(re =>
	{
		re.Title = "Page with gutter";
	});
}

@{ Html.DroppableZone("AboveContent").Render(); }

<div class="row">
	<div class="col-md-8">
		@{ Html.RenderPartial("LayoutPartials/Content"); }
	</div>
	<div class="col-md-4">
		@{ Html.DroppableZone("BesideContent").Render(); }
	</div>
</div>

@{ Html.DroppableZone("BelowContent").Render(); }
